@{
    ViewBag.Title = "Home Page";
}
<header class="header" id="header">
    <div class="container">
        @*<figure class="logo animated fadeInDown delay-07s">
            <a href="#"><img src="~/Images/codazi_logo.png" alt="" style="width: 200px; height: 200px"></a>
        </figure>*@
        <h1 class="animated fadeInDown delay-07s">Welcome To Codazi</h1>
        <ul class="we-create animated fadeInUp delay-1s">
            <li>We are a digital agency that loves crafting beautiful software.</li>
        </ul>
    </div>
</header>