
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
        <h2>Services</h2>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-paw"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>Custom Development</h3>
                        <p>Professional service providers regularly face situations and challenges
                            that aren't served by their existing software systems. We help bridge the gap 
                        by providing solutions outside you current domain.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-gear"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>web solutions</h3>
                        <p>We design and built custom web solutions of varying complexity
                        depending on the needs of our clients.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-apple"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>mobile solutions</h3>
                        <p>We offer complete mobile solutions, from idea to app store.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-medkit"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>24/7 Support</h3>
                        <p>All our products and services include 224/7 support.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="~/Images/macbook-pro.png" alt="">
            </figure>

        </div>
    </div>
</section><!--main-section-end-->

