
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container">
    <br />
    <p>Your message has been sent. We will contact you as soon as possible.
        <br/>
        <br />
        Thank you,
        <br />
        Codazi
    </p>

</div>


