
@{
    ViewBag.Title = "NDDragDrop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                    @*<div class="service-list-col1">
                        <img src="~/Images/DragDrop.png" />
                    </div>*@
                    <div class="service-list-col2">
                        <h3>NetDocuments Drag & Drop</h3>
                        <p>Drag & Drop for Netdocuments is a addon tool that 
                            allows a user to select a folder within their NetDocuments 
                            environment. Then any document dragged and dropped on the sync screen
                            will automatically upload the item to NetDocuments.
                        </p>
                        <br/>
                        <p>This addon will enable users to work on a matter and have multiple sync
                            windows open so that they can add items to the corresponding NetDocuments 
                            folder quickly.  They will not need to run an upload program or have a browser window 
                        open as the Drag & Drop application will have processed all the work.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="~/Images/NDDragDrop_ScreenShot1.PNG" alt="">
            </figure>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                <div class="service-list">
                   
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
                <img src="~/Images/NDDragDrop_ScreenShot.PNG" alt="">
            </figure>
        </div>
    </div>
</section>
